DJANGO_PORT=8000
DOCKER_EXPOSE_PORT=8000

POSTGRES_DB=cblock
POSTGRES_USER=cblock
POSTGRES_PASSWORD=cblock
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

GITHUB_IMAGE_NAME=c-block-backend
GITHUB_BUILD_BRANCH=master